.post_title {
  font-size: 24px;
  font-weight: 700;
  text-align: left;
  color: rgba(0,0,0,.84);
}
.post_sub_title {
  font-size: 20px;
  color: rgba(0,0,0,.54);
  text-align: left;
}
.profile_img {
  border-radius: 100px;
}
.profile_details {
  text-align: left;
  font-size: 14px;
}
.no-padding {
  padding: 0;
}
.first_post_img {
  height: 350px;
  width: 100%;
}
.first_post_title {
  font-size: 28px;
}
.img {
  display: block;
  width: 100%;
  max-width: 100%;
}
