---
layout: default
---
<div class="container">
  <div class="row">
    <div class="col mt-2">
      {% assign words = page.content | number_of_words %}
      {% if words < 360 %}
        <p>{{ page.date | date: "%b %-d, %Y" }} . 1 min read</p>
      {% else %}
      <p>{{ page.date | date: "%b %-d, %Y" }} . {{ words | divided_by:180 }} min read
      {% endif %}
    </div>

  </div>
  <div class="row no-gutters">
    <div class="col no-gutters mt-2">
      <div class="post_img latest_img single_img" style="background:{{ page.bg_color }};">
        <!-- <a href="{{ first.url }}" class="post_link"> -->
          <!-- <img class="post_img" src="/assets/images/{{ post.img }}" alt=""> -->
          <div class="post_head_img single_page_img">
            <h1 class="latest_post_img_title post_img_title">{{ page.title }}<br><small>{{ page.img_sub_title }}</small></h1>
          </div>
        <!-- </a> -->
      </div>
      <a class="s_link" href="http://bit.ly/bobs-nwslttr">sign up for my newsletter</a>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-12">
      <div class="post_page mt-5">
        {{ content }}
      </div>
    </div>
  </div>
  {% for tag in page.tags %}
    <a href="/tag/{{ tag }}"><code class="highligher-rouge"><nobr>{{ tag }}</nobr></code></a>
  {% endfor %}
</div>
