---
layout: default
---
<div class="container">
  <div class="row no-gutters">
    <div class="col no-gutters mt-5">
      <img src="/assets/Images/{{ page.img }}" alt="" class="ml-auto mr-auto img">
      <a class="" href="http://bit.ly/bobs-nwslttr">sign up for my newsletter</a>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-12">
      <div class="post_page mt-5">
        {{ content }}
      </div>
    </div>
  </div>
  {% for tag in page.tags %}
    <a href="/tag/{{ tag }}"><code class="highligher-rouge"><nobr>{{ tag }}</nobr></code></a>
  {% endfor %}
</div>
