---
layout: default
---
<section>
  <div class="tag_page">
    <div class="container">
      <div class="row">
        <div class="col">
          <div class="post">
            <h2 class=" tag_hash">#{{ page.tag  | replace: '-', ' ' | capitalize}}</h2>
          </div>
          <hr>
        </div>
      </div>
    </div>
    <div class="container">
      <div class=" mb-3 text-center row">
        {% assign t = site.tags[page.tag] %}
        {% for post in t %}
        <div class="col-sm-12 no-gutters no-padding card mb-4 box-shadow">
          <div class="card-body">
            <div class="post_img latest_img" style="background:{{ post.bg_color }};">
              <a href="{{ post.url }}" class="post_link">
                <!-- <img class="post_img" src="/assets/images/{{ post.img }}" alt=""> -->
                <div class="post_head_img latest_head_img">
                  <h1 class="latest_post_img_title post_img_title">{{ post.img_title }} <br>
                  <small>{{ post.img_sub_title }}</small> </h1>
                </div>
              </a>
            </div>
          </div>
          <div class="card-body">
            <a href="{{ post.url }}">
              <h3 class="post_title">{{ post.title }}</h3>
            </a>
            <a href="{{ post.url }}" class="link">
              <h4 class="post_sub_title">{{ post.sub-title }}</h4>
            </a>
            <div class="">
              <div class="profile_details">
                {% assign words = post.content | number_of_words %}
                <p>Published on : {{ post.date | date: "%b %-d, %Y" }} (
                  {% if words < 360 %}
                    1
                  {% else %}
                    {{ words | divided_by:180 }}
                  {% endif %}
                  min read )
                  </p>
                <a class="link" href="{{ post.url }}">Read More...</a>
              </div>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</section>
